*{
  box-sizing: border-box;
  position: relative;
  font-family: "League Spartan";
}

body{
  background-color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.booking{
    background-image: url("./images/booking/hero-bg-mobile@2x.jpg");
    background-size: 100% 100%;   /*width height  */
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    color: white;
  }

  .booking img{
    height: 2em;
    margin-top: 40px;
  }

  .Reservation-Home h1{
    line-height: 40px;
    font-weight: lighter;
    font-size: 2rem;
  }
  
  .Reservation-Home p{
    line-height: 26px;
    /* width: 327px;   */
    /* left: 15px; */
    font-size: 1rem;
  }

  .Make-Reservation form{
    background-color: white;
    height: 585px;
    width: 327px;
    box-shadow: 0px 6px 25px 0px rgb(0, 0, 0, 0.5);  /*Horizontal size, vertical size , blur size, shadow spread size and color */
    bottom: 140px;
    
  }

.form-content{
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100%;
  margin-bottom: 20px;
}

.form-content input{
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: thin;
  outline: none;
  font-family: "arial";
  border-bottom-color:rgb(185, 185, 185);
}

.form-content input:not(:placeholder-shown){
  border-bottom-color: rgb(0, 0, 0);
}


.form-content input[type=number]::-webkit-inner-spin-button,
.form-content input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;  /*Remove any extra space spinners leaver */
}


.form-content .input-name, .form-content .input-email{
  height: 43px;
  width: 80%;
  font-size: 1.1rem;
  text-indent: 16px;
  caret-color: #9E7F66;
  margin-top: 30px;
}

.form-content .input-name::placeholder, .form-content .input-email::placeholder{
  position: relative;
  font-size: 1.1rem;
  bottom: 5px;
  color: var(--placeholder-color, gray);
}

.form-content .input-email{
  margin-bottom: 20px;
}

#name-error, #email-error, #time-error, #date-error{
  position: absolute;
 color: #B54949;
 font-size: 0.7rem;
}

#name-error{
 top: 80px; 
 right: 185px;
}

#email-error{
  top: 152px;
  right: 185px;
}

#time-error, #date-error{
  top: 70px;
  left: 30px;  
}



#input-day, #input-month, #input-year, #input-hour, #input-minute, #input-time-of-day{
  height: 43px;
  width: 22%;
  margin-right: 20px;
  left: 8px;
  font-size: 1.1rem;
  text-indent: 15px;
}

#input-day::placeholder, #input-month::placeholder, #input-year::placeholder, #input-hour::placeholder, #input-minute::placeholder{
  color: var(--placeholder-color, gray);
}

#input-year{
  text-indent: 10px;
}
 
#input-time-of-day{
  font-family: "arial";
  font-size: 1.1rem;
  font-weight: 500;
  background-color: transparent;
  border-bottom-color: black;
} 

#input-time-of-day::placeholder{
  text-indent: 12px;
  color: black;
}

.dropdown-arrow{
  position: absolute;
  cursor: pointer;
  top: 35px;
  right: 40px;
  transition: 0.3s ease;

}

.dropdown-arrow-rotate{
  transform: rotate(180deg);
}

.dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);  /*Horizontal size, vertical size , blur size, shadow spread size and color */
  height: 74.9px;
  width: 80px;
  margin-top: 5px;
  left: 215px;
  z-index: 2;
  visibility: hidden;
} 

.dropdown span{
  margin-top: 12px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.dropdown-view{
  visibility: visible;
}

.dropdown .am-check, .dropdown .pm-check{
  right: 7px;
}

.pm-check{
  visibility: hidden;
}

.pm-check-visible{
  position: relative;
  visibility: visible;
}

.am-check-hidden{
  visibility: hidden;
}

.dropdown .pm{
  bottom: 2px;
}

.form-content #pick-date-div, .form-content #pick-time-div{
  margin: 20px 0px;
  width: 100%;
}

#pick-date-div label, #pick-time-div label{
  right: 95px;
  display: block;
  font-size: 1.1rem;
  color: black;
}

.form-content .number-of-people{
  height: auto;
  width: auto;
  font-size: 1.2rem;
  font-weight: 600;
}

div #minus-sign, div #plus-sign{
  top: 20px;
  cursor: pointer;
  height: auto;
  width: 12px;
 }

div #minus-sign{
  right: 99px;
  margin-right: 0px;
}

div #plus-sign{
   left: 99px;
}

.form-content hr{
  border-color: rgb(225, 222, 222);
  border-width: thin;
  width: 263px;
  margin-top: 20px;
}

.form-content button{
  background-color: black;
  padding: 1.5em;
  height: auto;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  width: 85%;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 30px;

}

.form-content button:hover{
    background-color: white;
    color: black;
    border-color: black;
}

.Reservation-Home button{
  background-color: transparent;
  padding: 1.5em;
  height: auto;
  width: 65%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.Reservation-Home button:hover{
  background-color: white;
  color: black;
}


footer {
  height: 440px;
  width: 100%;
  background-color: black;
  color: white;
}

footer .content{
  margin-top: 70px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.9rem;

}

.content img{
  margin-bottom: 15px;
}

.content p{
  margin-bottom: 25px;
}

.content h4{
  margin: 0px;
  font-weight: 400;
}
  