*{
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  font-family: "League Spartan";
}

body{
  background-color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

 header{
  background-image: url("./images/homepage/hero-bg-mobile@2x.jpg");
  background-size: 100% 100%;   /*width height  */
  background-repeat: no-repeat;
  width: 100%;
  height: 748px;
  z-index: 1;
}
/* test */
header .dining{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* left: 15px; */
  /* height: 364px; */
  /* width: 327px; */
  top: 210px;
  color: white;

  
}

.dining img{
  margin-top: 25px;
  height: 2em;
  margin-bottom: 15px;
  
}

.dining h2{
  line-height: 40px;
  font-weight: lighter;
  font-size: 2rem;
}
/* test p */
.dining p, .home p, .Menu p, .Events p{
  line-height: 26px;
  
  font-size: 1rem;
}

.dining p{
  font-weight: 300;
  margin-bottom: 40px;
  width: 85%;
  left: 0px;
  
}

.dining button, .Events button{
  background-color: black;
  padding: 1.5em;
  height: auto;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  width: 65%;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  
}
.dining button:hover, .Events button:hover, .Reservation button:hover{
   background-color: white;
   color: black;
 }

 .Events button:hover{ 
  border-color: black;
 }


 .home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
 }

.home .enjoyable-place{
  bottom: 67px;
  
}

.home h2, .Menu h2, .Reservation h2{
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;
  
}

.home p{
  font-size: 1rem;
  text-align: center;
}

.home img, .Events img{
  /* width: 90%;   */
  box-shadow: 0px 10px 25px 0px rgb(0, 0, 0, 0.5);  /*Horizontal size, vertical size , blur size, shadow spread size and color */
 
}
.home .pattern-divider{
  /* display: block; */
  margin-top: 50px;
}

.Menu{
 background-color: black;
 color: white;
 padding: 50px 0px;
 margin-top: 100px;
}
 
.Menu h3{
  margin-top: 30px;
  font-size: 1.2rem;
}
.Menu #salmon-img{
  margin-top: 50px;

}

.salmon p, .beef p, .Chocolate p{
  bottom: 10px;
  height: 78px;
  
}

hr{
  width: 327px;
  border-color: rgb(0, 0, 0);
  margin-bottom: 15px;
  /* <hr> element is essentially a horizontal line created by a border. so we need to use border 
  property to style it*/
}

.Events{
  margin-top: 80px;
}

.Events img{
   margin-bottom: 25px;
}

.Events h2{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 30px;
}

#title1.color {
  color: black; /* Start "Family Gathering" in black */
}

#title1::after{
  content: "";
  position: absolute;
  left: 42.9%;
  bottom: -3px;
  width: 48px;
  height: 1.2px;
  background-color:  rgb(158, 127, 102);
  opacity: 1; /* Hide underline by default */
}

#title1.underline-active2::after {
  opacity: 0; /* Show underline */
}

.Events .event-title{
  font-weight: 600;
  color: rgb(92, 103, 121);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2.5px;

}

.Events .event-title.active, .event-title:hover {
  color: rgb(17, 17, 17);
}


.event-title::after {
  content: "";
  position: absolute;
  left: 42.9%;
  bottom: -3px;
  width: 48px;
  height: 1.2px;
  background-color:  rgb(158, 127, 102);
  opacity: 0; /* Hide underline by default */
}

.event-title.underline-active::after {
  opacity: 1; /* Show underline when the class is active */
}

.Events button{
 margin-bottom: 100px;

}
.Reservation{
  background-image: url('./images/homepage/ready-bg-mobile@2x.jpg');
  background-size: 100% 100%;   /*width height  */
  background-repeat: no-repeat;
  height: 328px;
  width: auto;
  /* z-index: 1; */
}

.Reservation div{
 top: 65px;
 color: white;
}
.Reservation h2{
 
  top: 15px;
  width: 90%;
}

.Reservation button{
  background-color: transparent;
  padding: 1.5em;
  height: auto;
  width: 65%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

footer {
  height: 440px;
  width: 100%;
  background-color: black;
  color: white;
}

footer .content{
  margin-top: 70px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.9rem;

}

.content img{
  margin-bottom: 15px;
}

.content p{
  margin-bottom: 25px;
}

.content h4{
  margin: 0px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  header{
    background-image: url("./images/homepage/hero-bg-tablet@2x.jpg");
    height: 992px;
  }

  header .dining{
  top: 370px;
  height: 402px;
  width: auto;
  } 

  .dining img{
    height: auto; 
  }

  /* .dining img, .dining p, .home p, .Menu p, .Events p{
     height: auto;
      
  } */

} 