*{
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  font-family: "League Spartan";
}


body{
  background-color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}

header{
  background-image: url("./images/homepage/hero-bg-mobile@2x.jpg");
  background-size: 100% 100%;   /*width height  */
  background-repeat: no-repeat;
  width: 100%;
  height: 748px;
  z-index: 1;
}

header .dining{
  top: 210px;
  color: white;

}

.dining img{
  margin-top: 25px;
  height: 2em;
  margin-bottom: 15px;
  
}

.dining h2{
  line-height: 40px;
  font-weight: lighter;
  font-size: 2rem;
}


.dining p, .home p, .Menu p, .Events p{
  line-height: 26px;
  width: 327px;  
  left: 15px;
  font-size: 1rem;
  
}

.dining p{
  font-weight: 300;
  width: 90%;
  margin-bottom: 40px;
  
}

.dining button, .Events button{
  background-color: black;
  padding: 2em;
  height: auto;
  width: 65%;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.dining button a, .Events button a, .Reservation button a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}


.home .enjoyable-place{
  bottom: 67px;
  
}

.home h2, .Menu h2, .Reservation h2{
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;
  
}

.home p{
  font-size: 1rem;
  text-align: center;
}

.home img{
  /* width: 90%;   */
  box-shadow: 0px 10px 25px 0px rgb(0, 0, 0, 0.5);  /*Horizontal size, vertical size , blur size, shadow spread size and color */
  
}
.home .pattern-divider{

  margin-top: 30px;
}

.Menu{
 background-color: black;
 color: white;
 padding: 50px 0px;
 margin-top: 100px;
}
 
.Menu h3{
  margin-top: 30px;
  font-size: 1.2rem;
}
.Menu #salmon-img{
  margin-top: 50px;

}

.salmon p, .beef p, .Chocolate p{
  bottom: 10px;
  height: 78px;
  
}



hr{
  width: 327px;
  border-color: rgb(0, 0, 0);
  margin-bottom: 15px;
  /* <hr> element is essentially a horizontal line created by a border. so we need to use border 
  property to style it*/
}

.Events{
  margin-top: 80px;
}

.Events h3{
  cursor: pointer;
}

.Reservation{
  background-image: url('./images/homepage/ready-bg-mobile@2x.jpg');
  background-size: 100% 100%;   /*width height  */
  background-repeat: no-repeat;
  height: 328px;
  width: auto;
  z-index: 1;
}

.Reservation div{
 top: 65px;
 color: white;
}
.Reservation h2{
  top: 15px;
}

.Reservation button{
  background-color: transparent;
  padding: 2em;
  height: auto;
  width: 65%;
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer {
  height: 440px;
  width: 100%;
  background-color: black;
  color: white;
}